.div-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  background-image: url('/src/images/essa.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  gap: 5px;
  width: 100vw;
  margin: 0 auto;
}

.conteudo-esquerda {
  display: flex;
  width: 30%;
  background-color: #fff;
  padding: 50px 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

#btn-login {
  width: 90%;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  font-size: 18px;
  margin-top: 50px;
}

.label-login {
  display: flex;
  margin: 10px 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
}

.input-login {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(238, 206, 231);
  border-radius: 5px;
  outline: none;
  background-color: rgb(243, 233, 241);
}

#btn-login:disabled {
  background-color: rgb(190, 188, 249);
  cursor: not-allowed;
}

#btn-login:hover {
  background-color: #6549ee;
}

.titulo {
  font-size: 70px;
  font-weight: bold;
  color: #5243f9;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  /* background-color: #c64e12; */
  align-items: center;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  /* background-color: #c64e12; */
  align-items: center;
}
